@font-face {
  font-family: 'typewriter';
  src: url('./fonts/moms_typewriter/momt___-webfont.woff2') format('woff2'),
    url('./fonts/moms_typewriter/momt___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --board-size: 40rem;
}
body {
  height: 100vh;
  background-color: rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#game-board {
  height: var(--board-size);
  width: var(--board-size);
  background-color: white;
  display: grid;
  grid-template: repeat(3, calc(var(--board-size) / 3)) / repeat(
      3,
      calc(var(--board-size) / 3)
    );
  user-select: none;
}

.tiles {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marker {
  font-size: 14rem;
}
.hidden {
  display: none;
}
header {
  background-color: gray;
  width: 1000px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}
.score-container h2 {
  font-size: 1.6rem;
}
.player-score {
  font-size: 5rem;
}
.title button {
  padding: 10px 20px;
  background-color: rgb(0, 171, 0);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}
.title button:hover {
  background-color: rgb(0, 255, 0);
  outline: 2px solid black;
}
.player-menu {
  position: fixed;
  top: 166px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  z-index: 10;
  border: 5px solid black;
  border-radius: 10px;
  transform: scale(0, 0) translateY(-1282px);
  transition: transform 0.3s ease-in;
}
.show-menu {
  transform: scale(1, 1) translateY(0);
}
.player-menu form {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.Pcreate-button {
  width: 100%;
  border: none;
  border-top: 1px solid rgb(0, 0, 0);
  height: 58px;
  background-color: rgb(3, 211, 26);
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
}

.Pcreate-button:hover {
  background-color: rgb(0, 255, 0);
}
.player {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 15px 0 20px;
  gap: 10px;
}
.player div {
  text-align: center;
}
.player input {
  appearance: none;
  border: 3px solid rgb(0, 255, 0);
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 3px;
}
.player input:focus {
  outline: 2px solid white;
}
.player label {
  font-size: 1.3rem;
}
.player h2 {
  margin: 10px 0 20px;
}
.player.one {
  border-radius: 4px 0 0 0;
  border-right: 4px dashed black;
  background-color: #0064ff;
}
.player.two {
  border-radius: 0 4px 0 0;
  border-left: 4px dashed black;
  background-color: #f00;
}
.player h2,
.player label {
  font-family: 'typewriter';
}

.marker-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.p1-score {
  color: #0053d5;
}

.p2-score {
  color: #bd0000;
}

#p2-marker,
#p1-marker {
  width: 1ch;
}
.one input:invalid {
  border-color: #f00;
}
.two input:invalid {
  border-color: #0064ff;
}
[aria-label='required'] {
  color: white;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 9px solid transparent;

  border-left: 9px solid #f00;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 9px solid transparent;

  border-right: 9px solid rgb(0, 60, 255);
}
.player input:invalid + .error-container {
  display: flex;
  position: absolute;
  bottom: 2px;
  right: -33px;
}
.message {
  height: min-content;
  width: 100%;
  color: white;
  background-color: rgb(0, 60, 255);
}
#p2-name + .error-container {
  right: -68px;
}
#p1-name + .error-container {
  left: -68px;
  width: max-content;
}
#p1-marker + .error-container {
  left: -33px;
  width: max-content;
}
.one .message {
  background-color: #f00;
  border-radius: 5px 0 0 5px;
}
.two .message {
  border-radius: 0 5px 5px 0;
}

.exit{
  font-size: 1.3rem;
  position: absolute;
  top: -1px;
  right: 0px;
  color: white;
  user-select: none;
  cursor: pointer;
  background-color: black;
  width: 21px;
  text-align: center;
}
.display{
  display: unset;
}
.buttons{
  display: flex;
  gap: 10px;
}